<%- include('../partials/header') %>

	<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
		<div class="form-group col-4 p-3">
			<form action="/customers/<%= customer.id %>/cars/<%= car.id %>/services/<%= service.id %>?_method=PUT" method="POST" class="mt-3">
				<h1 class="h3 mb-3 fw-normal text-primary"><%= customer.last %> <%= car.model %></h1>
				<h2 class="text-center my-4"><%= car.make %> <%= car.model %></h2>

				<div class="form-floating">
					<input type="date" class="form-control my-1" id="date" name="date" value="<%= service.date %>"
						readonly>
					<label for="date">Date</label>
				</div>

				<div class="form-floating">
					<input type="number" id="mileage" class="form-control my-1" id="mileage" name="mileage"
						value="<%= service.mileage %>" readonly>
					<label for="mileage">Mileage</label>
				</div>

				<div class="form-floating">
					<input type="text" class="form-control my-1" id="description" name="description" value="<%= service.description %>" readonly>
					<label for="description">Description</label>
				</div>

				<div class="form-floating">
					<input type="number" class="form-control my-1" id="price" name="price" value="$<%= service.price %>"
						readonly>
					<label for="price">Price</label>
				</div>

				<div class="form-floating">
					<input type="checkbox" class="form-control my-1" id="isInShop" name="isInShop"
						value="<%= service.isInShop %>" readonly>
					<label for="isInShop">isInShop</label>
				</div>

				<div class="form-floating">
					<input type="checkbox" class="form-control my-1" id="isPickedUp" name="isPickedUp"
						value="<%= service.isPickedUp %>" readonly>
					<label for="isPickedUp">isPickedUp</label>
				</div>

				<div class="form-floating">
					<input type="checkbox" class="form-control my-1" id="isPaid" name="isPaid"
						value="<%= service.isPaid %>" readonly>
					<label for="isPaid">isPaid</label>
				</div>

			</form>
			<div class="d-flex flex-column flex-md-row gap-5 align-items-center justify-content-center mt-3">
				<form class="form-group" action="/customers/<%= customer.id %>/cars/<%= car.id %>/services/<%= service.id %>/edit" method="GET">
					<button class="btn btn-md btn-secondary" type="submit">Edit</button>
				</form>
				<form class="form-group" action="/customers/<%= customer.id %>/cars/<%= car.id %>/services/<%= service.id %>?_method=DELETE"
					method="POST">
					<button class="btn btn-md btn-danger" type="submit">Delete</button>
				</form>
			</div>
		</div>
	</div>

<%- include('../partials/footer') %>