<%- include('../partials/header') %>

<h1><%= customer.first %> <%= customer.last %></h1>

<ul>
	<% customer.cars.forEach(car=> { %>
		<a href="/customers/<%= customer.id %>/cars/<%= car.id %>">
			<li>
				<%= car.make %> <%= car.model %>
			</li>
		</a>
	<% }); %>
</ul>
<form action="/customers/<%= customer.id %>/cars/new" method="GET">
	<button type="submit">add car</button>
</form>
<%- include('../partials/footer') %>