<%- include('../partials/header') %>
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
	<div class="form-group col-4">
		<form action="/customers/<%= customer.id %>?_method=PUT" method="POST" class="mt-3">
			<h1 class="h3 mb-3 fw-normal">Edit Customer</h1>

			<div class="form-floating">
				<input type="text" class="form-control my-1" id="first" name="first" value="<%= customer.first %>">
				<label for="first">First Name</label>
			</div>

			<div class="form-floating">
				<input type="text" class="form-control my-1" id="last" name="last" value="<%= customer.last %>">
				<label for="last">Last Name</label>
			</div>

			<div class="form-floating">
				<input type="text" class="form-control my-1" id="phone" name="phone" value="<%= customer.phone %>">
				<label for="phone">Phone Number</label>
			</div>

			<div class="form-floating">
				<input type="email" class="form-control my-1" id="email" name="email" value="<%= customer.email %>">
				<label for="email">Email</label>
			</div>

			<div class="form-floating">
				<select type="text" class="form-select my-1" id="preferredCommunication"
					name="preferredCommunication">
					<option value="call" <%=customer.preferredCommunication==='call' ? 'selected' : '' %>>call
					</option>
					<option value="text" <%=customer.preferredCommunication==='text' ? 'selected' : '' %>>text
					</option>
					<option value="email" <%=customer.preferredCommunication==='email' ? 'selected' : '' %>>email
					</option>
				</select>
				<label for="preferredCommunication">Preferred Communication</label>
			</div>

			<div class="text-center">
				<button class="btn btn-primary w-25 my-2" type="submit">Update</button>
			</div>

		</form>

	</div>
</div>
<%- include('../partials/footer') %>