<%- include('../partials/header') %>
<ul>
	<% customers.forEach(customer=> { %>
		<a href="/customers/<%= customer.id %>">
			<li>
				<%= customer.first %>
				<%= customer.last %>
			</li>
		</a>
	<% }); %>
</ul>
<%- include('../partials/footer') %>