<%- include('../partials/header') %>
<div class="d-flex flex-column flex-md-row pt-3 align-items-center">
<ul class="breadcrumb">
	<li class="breadcrumb-item"><a href="/customers" class="text-decoration-none text-primary">Customers</a></li>
	<li class="breadcrumb-item active"><%= customer.first %> <%= customer.last %></li>
</ul>
</div>
	<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
		<div class="form-group col-lg-6 col-md-10 col-12 p-3">
			<form action="/customers/<%= customer.id %>?_method=PUT" method="POST" class="mt-3">
				<h1 class="h3 mb-3 fw-normal text-primary"><%= customer.first %> <%= customer.last %></h1>
	
				<div class="form-floating">
					<input type="text" class="form-control my-1" id="first" name="first" value="<%= customer.first %>" readonly disabled>
					<label for="first">First Name</label>
				</div>
	
				<div class="form-floating">
					<input type="text" class="form-control my-1" id="last" name="last" value="<%= customer.last %>" readonly disabled>
					<label for="last">Last Name</label>
				</div>
	
				<div class="form-floating">
					<input type="text" class="form-control my-1" id="phone" name="phone" value="<%= customer.phone %>" readonly disabled>
					<label for="phone">Phone Number</label>
				</div>
	
				<div class="form-floating">
					<input type="email" class="form-control my-1" id="email" name="email" value="<%= customer.email %>" readonly disabled>
					<label for="email">Email</label>
				</div>
	
				<div class="form-floating">
					<select type="text" class="form-select my-1" id="preferredCommunication"
						name="preferredCommunication" disabled>
						<option value="call" <%=customer.preferredCommunication==='call' ? 'selected' : '' %>>call
						</option>
						<option value="text" <%=customer.preferredCommunication==='text' ? 'selected' : '' %>>text
						</option>
						<option value="email" <%=customer.preferredCommunication==='email' ? 'selected' : '' %>>email
						</option>
					</select>
					<label for="preferredCommunication">Preferred Communication</label>
				</div>
	
			</form>
			<div class="d-flex flex-column flex-md-row gap-5 align-items-center justify-content-center mt-3">
				<form class="form-group" action="/customers/<%= customer.id %>/cars" method="GET">
					<button class="btn btn-md btn-primary" type="submit">Cars</button>
				</form>
				<form class="form-group" action="/customers/<%= customer.id %>/edit" method="GET">
					<button class="btn btn-md btn-secondary" type="submit">Edit</button>
				</form>
				<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
					Delete
				</button>
			</div>
	
		</div>
	</div>

	<!-- delete modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">Are you sure?</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					Deleting a customer can not be undone!
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<form class="form-group" action="/customers/<%= customer.id %>?_method=DELETE" method="POST">
						<button class="btn btn-md btn-danger" type="submit">Confirm</button>
					</form>
				</div>
			</div>
		</div>
	</div>

<%- include('../partials/footer') %>