<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<ul>
		<li>
			<%= customer.first %>
		</li>
		<li>
			<%= customer.last %>
		</li>
		<li>
			<%= customer.phone %>
		</li>
		<li>
			<%= customer.email %>
		</li>
		<li>
			<%= customer.preferredCommunication %>
		</li>
	</ul>
	<form action="/customers/<%= customer.id %>/edit" method="GET">
		<button type="submit">edit</button>
	</form>
	<form action="/customers/<%= customer.id %>?_method=DELETE" method="POST">
		<button type="submit">delete</button>
	</form>
</body>

</html>