<%- include('../partials/header') %>
	<ul>
		<li>
			<%= customer.first %>
		</li>
		<li>
			<%= customer.last %>
		</li>
		<li>
			<%= customer.phone %>
		</li>
		<li>
			<%= customer.email %>
		</li>
		<li>
			<%= customer.preferredCommunication %>
		</li>
	</ul>
	<form action="/customers/<%= customer.id %>/cars" method="GET">
		<button type="submit">cars</button>
	</form>
	<form action="/customers/<%= customer.id %>/edit" method="GET">
		<button type="submit">edit</button>
	</form>
	<form action="/customers/<%= customer.id %>?_method=DELETE" method="POST">
		<button type="submit">delete</button>
	</form>
<%- include('../partials/footer') %>